td {
    border-top: 0px solid !important;
}

.product-info {
    font-size: 85%;
}

.text-section {
    font-size: 135%;
    margin-bottom: 10px;
    text-align: left;
}

.radius {
    width: 100%;
    height: 100%;
    border-radius: 15px; /* CSS3草案 */
	-webkit-border-radius: 15px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 15px;	/* Firefox用 */
}

.flower-item {
    width: 100%;
    display: -webkit-box;　/* Safari,Google Chrome用 */
    display: -moz-box;　/* Firefox用 */
}

#flower-detail-img {
    width: 35%;
    margin-right: 15px;
/*    display: inline-block;*/
}

#flower-detail-top {
    width: 60%;
    display: -webkit-box;　/* Safari,Google Chrome用 */
    display: -moz-box;　/* Firefox用 */
    -moz-box-orient:vertical;
    -webkit-box-orient:vertical;
    box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-box-pack: justify; 
}

.detail-top-left {
    text-align: left;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    -webkit-box-flex: 1;
}

.detail-top-right {
    text-align: right;
    position: relative;
    bottom: 0px;
    right: 0px;
}

/*
    mobile-angular野要素を上書き
*/
.section.section-break {
    margin-bottom: 0px;
}

.list-group-item {
    padding: 15px 15px 5px;
}

.explain-title {
    width:30%;
}

.nav-tabs {
    height: 25px;
}

.scroll-img {
    margin-right: 15px;
    margin-left: 0px !important;
}

.section.product-info {
    padding-left: 0px !important;
    padding-right: 0px !important;
}