a {
    color: black !important;
}
.text-section {
    font-size: 135%;
    margin-bottom: 10px;
    text-align: left;
    display: -webkit-box;　/* Safari,Google Chrome用 */
    display: -moz-box;　/* Firefox用 */
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}

.all-select {
    width: 60%;
    position: relative;
    top: 0px;
    right: 0px;
    text-align: right;
}

.radius{
    width: 80px;
    height: 80px;
    border-radius: 15px; /* CSS3草案 */
	-webkit-border-radius: 15px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 15px;	/* Firefox用 */
}

.flower-item{
    width: 85px;
    float: left;
    margin-right: 10px;
/*    display: inline-block;*/
}

.flower-item .flower-detail{
    text-align: left;
}

.section-group {
    /*動的にwidthが変更されるように*/
    width: 1000px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/* clearfix */
.section-group:before,
.section-group:after {
    content: "";
    display: table;
}
 
.section-group:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.section-group {
    zoom: 1;
}

////////////////
// bx-alider周り start
.bx-wrapper {
    margin-bottom: 0px !important;
}

.bx-prev {
    
}

.bx-viewport {
    overflow: visible !important;
}

ul {
    padding-left: 0px;
    list-style: none;
}

.bx-controls-direction {
    display: none;
}
// bx-alider周り end
////////////////