<div ui-content-for="title">
  <span>アプリ名(フローレス)</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group" ui-turn-off='uiSidebarLeft' style="margin-top:50px;">
          <div class="list-group-item"><span class="label label-danger">カテゴリ</span></div>
          <a class="list-group-item" href="#/">おすすめ<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/scroll">花束<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/toggle">鉢物<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/tabs">観葉植物 <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/accordion">切り花<i class="fa fa-chevron-right pull-right"></i></a>
      </div>
      <div class="list-group" ng-controller="UserInfoCtrl">
          <div class="list-group-item"><span class="label label-danger">アカウント情報</span></div>
          <a class="list-group-item" href="#/logout/{{user_info.user_id}}">ログアウト : {{user_info.email}}<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/user/{{user_info.user_id}}">登録情報<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/orderLog/{{user_info.user_id}}">注文履歴<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/address/{{user_info.user_id}}">配送先住所<i class="fa fa-chevron-right pull-right"></i></a>
      </div>
      <div class="list-group">
          <div class="list-group-item"><span class="label label-danger">サポート</span></div>
          <a class="list-group-item" href="#/overlay">お問い合わせ<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/overlay">Q&A<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/overlay">サービス規約<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/overlay">プライバシー・ポリシー<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/overlay">運営<i class="fa fa-chevron-right pull-right"></i></a>
      </div>
    </div>
</div>
