
<div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group" ui-turn-off='uiSidebarLeft' style="margin-top:50px;">
          <div class="list-group-item"><span class="label label-danger">カテゴリ</span></div>
          <a class="list-group-item" href="#/">おすすめ<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/scroll">花束<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/toggle">鉢物<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/tabs">観葉植物 <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/accordion">切り花<i class="fa fa-chevron-right pull-right"></i></a>
      </div>
    </div>
</div>
