<div ui-content-for="title">
  <span>マイバック</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section product-info" style="margin-top: 50px;">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            マイバックに商品はありません
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
